
body{
    margin: 0;
    font-family: Arial;
    color: #020617;
    overflow: hidden;

}

/* animated gradient background */
.bg{
    position: fixed;
    width: 100%;
    height: 100%;
    background:linear-gradient(270deg, #00aeff,
    #2f005a, #c019aa) ;
    background-size:600% 600% ;
    animation: move 6s linear infinite;
    z-index:-1;


}
    @keyframes move{
        0%
        {background-position:0% 50% ;}
        50%{background-position: 100% 50%;}
        100%{background-position:0% 50%;}
    }
    /* nav bar */
    nav{
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        background:rgba(0, 0, 0, 0, 4 );
        backdrop-filter:blur(10px);
        }

        .menu a{
            margin-left: 20px;
            cursor: pointer;

        }

        .menu a:hover{
            color: #38bdf8;

        }

        /* pages */
        .page{
            display:none;
            min-height: 100vh;
            text-align:center;
            padding-top: 120px;
            animation:fade 0.5s;
        }


        .active{
            display: block;
        }

        @keyframes fade{
            from{opacity:0;
            transform:translateY(20px);}
            to{opacity:1;}
        }

        /* hero */
        h1{
            font-size:55px;
        }
        
.card{
    background:rgba(255,255,255 , 0.1);
    padding: 40PX;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    width: 300px;
    margin: auto;
}

/* service cards */

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

/* button */
button{
    padding: 14px 35px;
    border: none ;
    border-radius: 30px;
    background: #38bdf8;
    cursor: pointer;
    font-size: 16px;
}

/* input */
input, textarea{
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 10px;
}


/* mobile */

@media(max-width:700px){
    .cards{
        flex-direction:column;
        align-items:center;
    
}
h1{
    font-size: 35px;
}
}